<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

  <title>User Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <button onclick="window.location.href = '/';">Back</button>
<div class="jumbotron text-center">
    <h1>User Registration</h1>
        <h5>Already have an account?<button onclick="window.location.href = '/Login';">Login</button></h5>
</div>

    <form method="POST" class="text-center">
<input type='text' name='FirstName' autocomplete='off' placeholder="FirstName" required>
        <p></p>
<input type='text' name='LastName' autocomplete='off' placeholder="LastName" required>
        <p></p>
<input type='text' name='Email' autocomplete='off' placeholder="Email" required>
        <p></p>
<input type='text' name='Password' autocomplete='off' placeholder="Password" required>
        <input type='submit' placeholder="Submit" required>
</form>
</body>



</body>
</html>